.container-grid{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
    


    .menu{
        grid-column: span 5;
    }
    .contenido{
        grid-column: span 4;
    }
    .sidebar{
        grid-column: span 1;
    }
    .newsletter{
        grid-column: span 5;
    }
    .footer{
        grid-column: span 5;
    }

    @include vista-lg{
      .contenido {
        grid-column: span 3 ;
      } 
      .sidebar{
        grid-column: span 2;
    }

    }
    
}
  



