.contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 20px;
    

    .noticias{
        grid-column: span 1 ;
        

        h2{
            font-size: $large;
            
        }
        p{
            font-size: $small;

        }

    }
}


   
